@media (min-width: 1025px){
	.m-header--fixed.m-header--minimize-off .m-header {
	    -webkit-transition: all 0.3s ease 0.3s;
	    transition: all 0.3s ease 0.3s;
	    height: 0px;
	}
}


.not-in-stock {
	color: red !important;

	background-color: #ffcccc !important;


}
.not-in-stock:hover {
	background-color: #ffcccc !important;
}